.portfolio {
    padding: 0px 70px 85px 70px;
}

.portfolio__title {
    margin: 0px;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
}

.portfolio__links {
    margin-top: 50px;
}

@media screen and (max-width: 1279px) {
    .portfolio {
        padding: 0px 50px 50px 50px;
    }
}

@media screen and (max-width: 767px) {
    .portfolio {
        padding: 0px 14px 30px 14px;
    }

    .portfolio__title {
        margin: 0px;
        font-size: 14px;
    }

    .portfolio__links {
        margin-top: 40px;
    }
}